<%= form_for :search, url: searches_path do |form| %>
  <%= form.label :search %>
  <%= form.text_field :search %>
  <%= form.submit 'Submit' %>
<% end %>

<ul>
  <% @tweets.each do |tweet| %>
    <li>
      <%= tweet.text %>
      <span class='author'><%= tweet.from_user %></span>
    </li>
  <% end %>
</ul>
