<%= form_for :search, url: searches_path do |form| %>
  <%= form.label :search_term %>
  <%= form.text_field :search_term %>
  <%= form.submit 'Search' %>
<% end %>

<ul>
  <% @statuses.each do |status| %>
    <li><%= status.text %></li>
  <% end %>
</ul>
